body{
  background-image: url("background.jpg");
  background-position: center;
  max-width: 100%;
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;
  margin:0;
}
h1{
  color: #FFDC00;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

.gridContainer{
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}


.box{
  background-color: rgba(8,8,8, 0.5);
  border-style: solid;
  border-width: thick;
  border-radius: 5%;


}
.key{
  color: white;
  font-size: 2.5rem;
  font-weight: 700;

}

p{
  font-size: 1rem;
  color: #FFDC00;
  font-weight: 700;
}

.playing{
  border-color: #FFDC00;
  transform:scale(1.2);
}

footer{
  position: fixed;
  margin:0;
  width: 100%;
  bottom: 0;
  background-color: rgba(8,8,8, 1);
}
